Builds/VisualStudio2022/x64/Debug/
Builds/VisualStudio2022/x64/Release/

Builds/VisualStudio2022/x64/Debug/App/Dev Proj.E4E8456D.tlog/rc.command.1.tlog
Builds/VisualStudio2022/x64/Debug/App/Dev Proj.E4E8456D.tlog/rc.read.1.tlog
Builds/VisualStudio2022/x64/Debug/App/Dev Proj.E4E8456D.tlog/rc.write.1.tlog
Builds/VisualStudio2022/x64/Debug/App/Dev Project Prototype (NEW).exe
Builds/VisualStudio2022/x64/Debug/App/Dev Project Prototype (NEW).exe.recipe
Builds/VisualStudio2022/x64/Debug/App/Dev Project Prototype (NEW).ilk
Builds/VisualStudio2022/x64/Debug/App/Dev Project Prototype (NEW).pdb
Builds/VisualStudio2022/x64/Debug/App/Dev Project Prototype (NEW)_App.log
Builds/VisualStudio2022/x64/Debug/App/Dev Project Prototype (NEW)_App.vcxproj.FileListAbsolute.txt
Builds/VisualStudio2022/x64/Debug/App/GUIComponent.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_basics.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_devices.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_formats.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_processors.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_processors_ara.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_processors_lv2_libs.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_audio_utils.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_core.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_data_structures.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_events.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_graphics.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_gui_basics.obj
Builds/VisualStudio2022/x64/Debug/App/include_juce_gui_extra.obj
Builds/VisualStudio2022/x64/Debug/App/Main.obj
Builds/VisualStudio2022/x64/Debug/App/MainComponent.obj
Builds/VisualStudio2022/x64/Debug/App/resources.res
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/d6c6f921dffb1af6/GUICOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/c2ff5714754bb76a/MAINCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/Browse.VC.db
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/2fac7dd6824594c8/GUICOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/34bd60e08182d3/FILEBROWSERCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/40762bb165489430/MAINCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/49694f8ac835d55f/TRACKTHUMBNAILCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/6b2da087a8cea5ae/KILLEQCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/7f56a161c9948b40/INPUTCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/b2eaa1a98f6391e4/TENBANDCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/b662e5b67936b623/MAIN.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/b852d199fe18206e/FILEBROWSERCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/cc38f7053b99bc38/REVERBCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/dccfae7be75a4241/MAINCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/e16af8ce77673418/TRACKAUDIOPLAYER.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/f99fa5ae3a276667/CONTROLCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/448e848d9965b6e3/METERCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/59b80865f58b7c12/MASTERCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/1e13902fccb1f286/METERCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/1785095c-8175-48ba-9071-aee8ba37b673.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/29ed634f-ff2a-4f74-897e-c3ff0548c309.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/32bd5dbd-1c9b-443e-af67-fdf31d482a6d.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/4ef131a4-630a-4473-809f-0f2ae270375b.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/6e403204-5fe3-4094-958e-2100b12939bf.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/ad32a0f2-647f-42b2-b9bc-c0933695dcd1.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/bc75e198-7d0d-4044-97cb-fd5de72c6a65.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/ee9fe823-e509-4655-a498-37e69606fdf6.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/1785095c-8175-48ba-9071-aee8ba37b673.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/29ed634f-ff2a-4f74-897e-c3ff0548c309.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/4ef131a4-630a-4473-809f-0f2ae270375b.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/ee9fe823-e509-4655-a498-37e69606fdf6.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/Browse.VC.opendb
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/16149a6db73916b9/DELAYCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/72de10f9e0e0e60b/INPUTCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/82c9412e1aa626d6/INPUTCOMPONENT.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/v17/ipch/AutoPCH/fc422369591b96c1/MAIN.ipch
*.ipch
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/3139d540-836f-4b8c-a893-13b73df6d3de.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/63aa32a9-cc3c-45ff-af72-dce3f81e0b6e.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/6643897f-ace5-431d-9562-b5aacacc3790.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/74da3626-e72b-433a-b222-4cba0348d17a.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/9304dfa3-33d2-40d1-a636-e02ac1297596.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/cc6a9e4b-1368-48a4-ad79-29661c3ed85c.vsidx
Builds/VisualStudio2022/.vs/Dev Project Prototype (NEW)/FileContentIndex/11110b60-441e-4432-8378-172cc26b647f.vsidx
*.vsidx
*.db
*.pdb
Source/Effects/PitchShifter.h
Builds/VisualStudio2019/x64/Release/App/Dev Project Prototype (NEW).iobj
*.obj
